body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}


.red3 {
  width: 80px;
  background-color: red;
}


.green3 {
  flex: 1;
  background: green;
}

.blue3 {
  width: 80px;
  background-color: blue;
}

.empty4 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background: red;
}

.blue4 {
  width: 80px;
  background-color: blue;
}

.empty5 {
  display: flex;
  flex: 1;
  order: 1;
}

.red5 {
  margin: 15px;
  width: 30px;
  height: 30px;
  background-color: red;
  order: 2;
}

.empty6 {
  display: flex;
  flex: 1;
  order: 3;
}


.empty7 {
  display: flex;
  flex: 1;
  order: 1;
  background: red;
}

.blue6 {
  background: blue;
  width: 80px;
  order: 2;
}

.empty8 {
  display: flex;
  flex: 1;
  order: 3;
  background: red;
}
/* TODO: Add CSS for the rest of your solution below */